<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Down</title>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>

    <h1>Dropzone</h1>  
    <form action="/upload" method='post' class="dropzone" id="my-awesome-dropzone" name="my-awesome-dropzone" enctype="multipart/form-data" >
        <div>
            <label for="number">Input Number of groups:</label>
            <input type="number" name="no_of_groups" id="no_of_groups"><br><br>
            <input type="file" name="file" id="file" enctype="multipart/form-data"><br><br>
            <input type="submit" value="Submit">
        </div>
    </form>
    
    <div id="result">{{ result }}</div>

    <script>
        Dropzone.options.myDropzone = {
            paramName: "file",
            maxFilesize: 5,
        }
    </script>
    
</body>
</html>